<div class="tbl">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Restaurant Name</th>
                <th>Delete Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories , let i=index">
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.rname}}</td>
                <td><button class="btn btn-danger" (click)="deleteCetegory(category)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button routerLink="../addcategory" type="button" class="btn btn-secondary">Add Category</button>
</div>