<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-sm-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a routerLink="users" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main
                    dashboard</span>
            </a>
            <a routerLink="product" routerLinkActive="active"
                class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a routerLink="category" routerLinkActive="active"
                class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Category</span>
            </a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>