<main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <form class="formlogin" [formGroup]="form" (submit)="submit()">
        <div class="form-control">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-control">
            <input type="password" class="form-control" formControlName="password" placeholder=" Password">
        </div>
        <div class="form-control">
            <button class=" w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
    </form>
</main>